{# templates/Categories/accueil.html.twig #}
{% extends "base.html.twig"%}
{% block body %}

<h1><span style="color:red"> Bienvenue a notre page d'accueil</span></h1>
<h1>Your lucky number is {{number}}</h1>
{% endblock %}